<html>
<head>
<title>custom_vote.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
custom_vote.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;LinearLayout</span>
    <span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;CheckBox</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_gravity</span><span class="s2">=&quot;top&quot;</span>
        <span class="s1">android:visibility</span><span class="s2">=&quot;gone&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;19dp&quot;</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/checkbox2&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/linear1&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;10000dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;8dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;5dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/oval&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;CheckBox</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center&quot;</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/checkbox1&quot; </span><span class="s0">/&gt;</span>
        <span class="s0">&lt;de.hdodenhof.circleimageview.CircleImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageview1&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;50dp&quot;</span>
            <span class="s1">app:civ_border_width</span><span class="s2">=&quot;2dp&quot;</span>
            <span class="s1">app:civ_border_color</span><span class="s2">=&quot;@color/black&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;5dp&quot;</span>
            <span class="s1">android:transitionName</span><span class="s2">=&quot;imageview1Trans&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;55dp&quot;</span>
            <span class="s1">android:src</span><span class="s2">=&quot;@drawable/default_profile&quot;</span><span class="s0">/&gt;</span>
        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/voter&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;15dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Name&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center_vertical&quot;</span>
            <span class="s1">android:gravity</span><span class="s2">=&quot;center_vertical&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>
<span class="s0">&lt;/LinearLayout&gt;</span>
</pre>
</body>
</html>